@model ParkingManagement.Core.Model.HomePage

@{
    ViewBag.Title = "LotteryList";
}

<h4>Request List</h4>
<div>
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Duration</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Preference 1</th>
                <th>Preference 2</th>
                <th>Preference 3</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<br />
<div>
    <input id="urlPathid" type="hidden" value="@Url.Action("RunLottery", "Lottery")" />
    <input type="button" value="Run Lottery" class="btn-success" id="btnrunlottery" onclick="runlottery();" />
    <input type="button" value="Back" class="btn-danger" id="btnrunlottery" onclick="cancelclick(@HttpContext.Current.Session["UserId"].ToString());" />
    @*<input type="button" value="Back" class="btn-danger" onclick="@("window.location.href='" + @Url.Action("HomePage", "Home") + "'");" />*@

</div>

@section scripts
    {
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "http://localhost:59800/api/EmployeeSlot", //link for calling web api which running separately
                    dataSrc: "",
                },
                columns: [
                    {
                        data: "requestDetailsId"
                    },
                    {
                        data: "requestDurationType.durationDescription"
                    },
                    {
                        data: "fromDate"
                    },
                    {
                        data: "toDate"
                    },
                    {
                        data: "preferenceOneTowerId"
                    },
                    {
                        data: "preferenceTwoTowerId"
                    },
                    {
                        data: "preferenceThreeTowerId"
                    }
                ]
            });
        });
        function runlottery() {
            var urlpath = $("#urlPathid").val();
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: urlpath,
                dataType: "json",
                async: true,
                success: function (data) {
                    alert("Parking Slot as been assigned to user as by lottery system!!!");//never returned
                    location.reload();

                },
                error: function (err) {
                    alert("Lottery based alllocation failed");//always return this one, even it's succeed
                }
            });
        }
        function cancelclick(req_id) {
             window.location.href = "@Url.Action("HomePage", "Home")";

        }
    </script>
}

